<footer>
    <div class="container">
        <ul class="footer">
            <li></i>Telegram: t.me/orkhan_d</li>
            <li>GitHub: github.com/orkhan-d</li>
            <li>Instagram: instagram.com/0rkhan.d</li>
        </ul>
    </div>
</footer>