<header>
    <div class="container">
        <nav>
            <div class="logo"><a href="/">
                    Node<span class="todo"><span class="to">TO</span><span class="do">DO</span></span>
                </a></div>
            <ul id="nav">
                <li><a href="/tasks">Tasks</a></li>
                <li><a href="/contacts">Contact</a></li>
                <li><a class="newtask" href="/newtask">New Task</a></li>
            </ul>
        </nav>
    </div>
</header>