<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container body">
        <h1>Oops... wrong path =(</h1>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>