<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container body">
        <p>Hey, there!</p>
        <p>I'm <a class="index-ig-link" href="https://instagram.com/0rkhan.d">Orkhan<span>D</span></a>, more known as Orkhan Djafarli</p>
        <p>Welcome to my simple to-do website created with Node.JS!</p>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>