@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap');

header{
    background-color: rgb(228, 228, 228);
    padding: 0 1em;
}
header .container {
    padding: 0.5em 1em;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
}
#nav{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-weight: 500;
    font-size: larger;
}
.logo{
    font-size: xx-large;
    font-weight: 700;
}
.logo span.todo{
    background-color: rgb(144, 144, 144);
    border: none;
}
.logo span.to{
    color: rgb(255, 0, 0);
}
.logo span.do{
    color: rgb(218, 218, 218);
}