form{
    display: grid;
    grid-template-columns: 1fr;
    margin: 2% 30% 0;
}
form label{
    font-size: 1.7em;
    font-weight: 600;
}
form #title, form #descr{
    margin: 1em 0;
    height: 3em;
    border: 2px solid black;
    box-shadow: 0 0 3px black;
    border-radius: 1em;
    padding: 0 10px;
    font-size: 1em;
}
form #title:focus, form #descr:focus,
form #title:hover, form #descr:hover{
    background-color: rgb(208, 208, 208);
}

form #title, form #descr{
    transition: all 0.2s;
}

form .submit-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form .submit-form *{
    text-transform: uppercase;
    background-color: rgb(78, 78, 78);
    color: rgb(255, 0, 0);
    height: 2.5em;
    font-size: 1em;
    font-weight: 700;
    width: 30%;
    margin: 1em auto;
    border-radius: 0.7em;
    border: 0 solid rgb(217, 0, 0);
    box-shadow: 0 0 3px rgb(135, 3, 3);
    display: flex;
    justify-content: center;
    align-items: center;
}